In [ ]:
"""
Uzasni block comment u pythonu
Pandas Crash Course
"""

In [1]:
import pandas as pd
import numpy as np

In [4]:
labels = ['a', 'b', 'c']

mylist = [10,20,30]

arr = np.array([10,20,30])

d = {'a':10, 'b':20, 'c':30}

In [8]:
pd.Series(data=mylist, index=labels) #Prakticno smo prosledili poodatke niz koji smo napravili, a za indexe smo rekli da su labele
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
salesQ1 = pd.Series(data=[250,450,200,150], index=["USA", "China", "India", "Brazil"])

In [11]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [12]:
salesQ2 = pd.Series(data=[260,500,210,100], index=["USA", "China", "India", "Japan"])

In [15]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [16]:
salesQ2['China']

np.int64(500)

In [17]:
salesQ2[2]

C:\Users\Windows\AppData\Local\Temp\ipykernel_10096\2879674503.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  salesQ2[2]

np.int64(210)

In [18]:
salesQ1 + salesQ2 #Vraca NaN jer nema informacije o Brazilu i Japanu u obe strukture podataka

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [3]:
#DataFrames 
"""
DataFrame je vise pandas series koji dele isti index
Vrlo slicno kao Excel spreadsheet
"""

columns = ['w', 'x', 'y', 'z']
index = ['A', 'B', 'C', 'D', 'E']

In [4]:
from numpy.random import randint

In [5]:
np.random.seed(42)
data = randint(-100,100, (5,4))

In [6]:
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]], dtype=int32)

In [7]:
#Kreiranje Dataframe
df = pd.DataFrame(data, index, columns) #indexi su zapravo redovi

In [8]:
df

    w   x   y   z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [13]:
#Selektovanje indexa
#Razne metode za vadjenje podataka iz DataFram-a
df['w'] #Vraca sve kolonu w
type(df['w']) #Tip podatka Series
#Ako hocemo vise kolona
df[['w','z']]

    w   z
A   2 -86
B   6 -80
C   2 -13
D  16  51
E  30 -99

In [14]:
#Kreiranje nove kolone
df['new_column'] = df['w'] + df['y'] #Sabrace ove dve kolone

In [15]:
df

    w   x   y   z  new_column
A   2  79  -8 -86          -6
B   6 -29  88 -80          94
C   2  21 -26 -13         -24
D  16  -1   3  51          19
E  30  49 -48 -99         -18

In [20]:
df.drop('new_column', axis=1) # default je axis=0 sto znaci da ce traziti po redovima
#Ova metoda se radi na kopiji tj. ne ispravlja original
df = df.drop('new_column', axis=1)

KeyError: "['new_column'] not found in axis"

In [27]:
#Selektovanje redova
df.loc['A'] #vraca red kao series
df.loc[['A', 'E']]
#Ako hocemo da koristimo indexe tj brojeve
df.iloc[1]
df.iloc[2:]

    w   x   y   z
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [31]:
df.drop('C') #ova metoda se ne radi na originalu

KeyError: "None of [Index(['A,D'], dtype='object')] are in the [index]"

In [32]:
df

    w   x   y   z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [34]:
df.loc[['A', 'D'],['y','w']]

   y   w
A -8   2
D  3  16

In [35]:
#Conditional select, vrsimo proveru i vracamo podatke koji zadovoljavaju uslov
df > 0 #Pitamo kroz ceo DataFrame gde su brojevi veci od 0

      w      x      y      z
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [36]:
df[df > 0]

    w     x     y     z
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [37]:
df

    w   x   y   z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [40]:
df['x'] > 0 #vraca gde su sve brojevi veci od 0 u koloni x
df[df['x']>0] #Broadcast, vratice samo tacne redove koji zadovoljavaju uslov da se u koloni x nalaze samo veci brojevi od 0

    w   x   y   z
A   2  79  -8 -86
C   2  21 -26 -13
E  30  49 -48 -99

In [42]:
df[(df['w'] >0) & (df['y']>1)] #Provera gde je dataframe u koloni 'w' veci od 0 i u koloni 'y' veci od 1 u kojim redovima se to desava

    w   x   y   z
B   6 -29  88 -80
D  16  -1   3  51

In [43]:
df

    w   x   y   z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [44]:
#Ako hocemo da stavimo prave indexe i da zadrzimo stare koristimo
df.reset_index() #Ovo se ne radi na originalu

  index   w   x   y   z
0     A   2  79  -8 -86
1     B   6 -29  88 -80
2     C   2  21 -26 -13
3     D  16  -1   3  51
4     E  30  49 -48 -99

In [45]:
#Kreiranje nove kolone
new_ind = ['CA', 'NY', 'WY', 'OR', 'CO']
df['states'] = new_ind

In [46]:
df

    w   x   y   z states
A   2  79  -8 -86     CA
B   6 -29  88 -80     NY
C   2  21 -26 -13     WY
D  16  -1   3  51     OR
E  30  49 -48 -99     CO

In [47]:
df.set_index('states', inplace=True)

In [48]:
df.set_index()

         w   x   y   z
states
CA       2  79  -8 -86
NY       6 -29  88 -80
WY       2  21 -26 -13
OR      16  -1   3  51
CO      30  49 -48 -99

In [1]:
df

NameError: name 'df' is not defined

In [9]:
#MISSING DATA
#3 Mogucnosti: Brisanje tih redova 
# ostaviti takav podatak
# popuniti nekim vrednostima
df = pd.DataFrame({
    'A':[1,2,np.nan,4],
    'B':[5,np.nan, np.nan,8],
    'C':[10,20,30,40]
})

In [10]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [13]:
#Brisanje nedostajucih podataka
df.dropna(axis=1, thresh=2)
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [14]:
df.fillna(value='FILL VALUE') #Pandasu nije bitno sta ce se staviti ovde

            A           B   C
0         1.0         5.0  10
1         2.0  FILL VALUE  20
2  FILL VALUE  FILL VALUE  30
3         4.0         8.0  40

In [15]:
df['A'].fillna(value=0)

0    1.0
1    2.0
2    0.0
3    4.0
Name: A, dtype: float64

In [17]:
df['B'].fillna(value=df['B'].mean()) # Popunice kolonu B sa prosekom iz kolone B i funkcija radi na osnovu svake kolone ne na osnovu celog dataFrame-a

0    5.0
1    6.5
2    6.5
3    8.0
Name: B, dtype: float64

In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/Windows/Desktop/SauSau/TensorFlow/Tensorflow-Bootcamp-master/Tf kurs/TF_2_Notebooks_and_Data/01-Pandas-Crash-Course/Universities.csv")

In [3]:
df.head()

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [5]:
df.groupby('Year').sum()

,Sector,University,Completions,Geography
Year,,,,
2012,"Private for-profit, less-than 2-yearPrivate fo...",Academy of Hair Design-Las VegasCareer College...,20333,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2013,"Private for-profit, 2-yearPrivate for-profit, ...",Aviation Institute of Maintenance-Las VegasDeV...,21046,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2014,"Private not-for-profit, 4-year or abovePrivate...",Roseman University of Health SciencesExpertise...,24730,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2015,"Private for-profit, 2-yearPrivate not-for-prof...",Pima Medical Institute-Las VegasRoseman Univer...,26279,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2016,"Private for-profit, 2-yearPrivate for-profit, ...",Pima Medical Institute-Las VegasHealthcare Pre...,26224,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...

In [7]:
df.groupby('Year').sum().sort_index(ascending=False)

,Sector,University,Completions,Geography
Year,,,,
2016,"Private for-profit, 2-yearPrivate for-profit, ...",Pima Medical Institute-Las VegasHealthcare Pre...,26224,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2015,"Private for-profit, 2-yearPrivate not-for-prof...",Pima Medical Institute-Las VegasRoseman Univer...,26279,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2014,"Private not-for-profit, 4-year or abovePrivate...",Roseman University of Health SciencesExpertise...,24730,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2013,"Private for-profit, 2-yearPrivate for-profit, ...",Aviation Institute of Maintenance-Las VegasDeV...,21046,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2012,"Private for-profit, less-than 2-yearPrivate fo...",Academy of Hair Design-Las VegasCareer College...,20333,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...

In [8]:
df.groupby(['Year','Sector']).sum() #Unutrasnji i spoljasnji index

                                                                                     University  \
Year Sector
2012 Private for-profit, 2-year               Career College of Northern NevadaPaul Mitchell...
     Private for-profit, 4-year or above      Sanford-Brown College-Las VegasITT Technical I...
     Private for-profit, less-than 2-year     Academy of Hair Design-Las VegasMilan Institut...
     Private not-for-profit, 2-year           Everest College-HendersonExpertise Cosmetology...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesTouro Uni...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  University of Nevada-RenoCollege of Southern N...
2013 Private for-profit, 2-year               Aviation Institute of Maintenance-Las VegasCar...
     Private for-profit, 4-year or above      DeVry University-NevadaITT Technical Institute...
     Private for-profit, less-than 2-year     Academy of Hair Design-Las VegasMilan Institut...
     Private not-for-profit, 2-year           Expertise Cosmetology InstituteEverest College...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesTouro Uni...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  University of Nevada-RenoUniversity of Nevada-...
2014 Private for-profit, 2-year               Nevada Career InstituteEuphoria Institute of B...
     Private for-profit, 4-year or above      Sanford-Brown College-Las VegasThe Art Institu...
     Private for-profit, less-than 2-year     Healthcare Preparatory InstituteMilan Institut...
     Private not-for-profit, 2-year           Expertise Cosmetology InstituteEverest College...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesSierra Ne...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  College of Southern NevadaWestern Nevada Colle...
2015 Private for-profit, 2-year               Pima Medical Institute-Las VegasBrightwood Col...
     Private for-profit, 4-year or above      ITT Technical Institute-Las VegasUniversity of...
     Private for-profit, less-than 2-year     Milan Institute-SparksHealthcare Preparatory I...
     Private not-for-profit, 2-year           Everest College-HendersonExpertise Cosmetology...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesSierra Ne...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  University of Nevada-Las VegasGreat Basin Coll...
2016 Private for-profit, 2-year               Pima Medical Institute-Las VegasNorthwest Care...
     Private for-profit, 4-year or above      University of Phoenix-NevadaChamberlain Colleg...
     Private for-profit, less-than 2-year     Healthcare Preparatory InstituteMilan Institut...
     Private not-for-profit, 2-year           Everest College-HendersonExpertise Cosmetology...
     Private not-for-profit, 4-year or above  Sierra Nevada CollegeWongu University of Orien...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  Western Nevada CollegeGreat Basin CollegeNevad...

                                              Completions  \
Year Sector
2012 Private for-profit, 2-year                      3072
     Private for-profit, 4-year or above              632
     Private for-profit, less-than 2-year            1327
     Private not-for-profit, 2-year                   665
     Private not-for-profit, 4-year or above         1059
     Public, 2-year                                  1170
     Public, 4-year or above                        12408
2013 Private for-profit, 2-year                      3053
     Private for-profit, 4-year or above              775
     Private for-profit, less-than 2-year            1281
     Private not-for-profit, 2-year                   471
     Private not-for-profit, 4-year or above         1016
     Public, 2-year                                  1633
     Public, 4-year or above                        12817
2014 Private for-profit, 2-year                      2957
     Private for-profit, 4-year or above             1506
     Private for-profit, less-than 2-year            1328
     Private not-for-profit, 2-year                   449
     Private not-for-profit, 4-year or above         1042
     Public, 2-year                                  2286
     Public, 4-year or above                        15162
2015 Private for-profit, 2-year                      3280
     Private for-profit, 4-year or above             1306
     Private for-profit, less-than 2-year            1629
     Private not-for-profit, 2-year                   425
     Private not-for-profit, 4-year or above         1228
     Public, 2-year                                  2355
     Public, 4-year or above                        16056
2016 Private for-profit, 2-year                      3286
     Private for-profit, 4-year or above              748
     Private for-profit, less-than 2-year            1552
     Private not-for-profit, 2-year                   322
     Private not-for-profit, 4-year or above         1208
     Public, 2-year                                  2431
     Public, 4-year or above                        16677

                                                                                      Geography
Year Sector
2012 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                               NevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year            NevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2013 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                         NevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year            NevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2014 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                   NevadaNevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year      NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2015 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above       NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year      NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2016 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                   NevadaNevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year      NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                           NevadaNevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada

In [10]:
df.groupby('Year').describe().transpose() #Uradi za svaku god prebrojavanje, mean, standardnu devijaciju, minimum, razne metrike

Year                      2012         2013         2014         2015  \
Completions count    38.000000    40.000000    42.000000    44.000000
            mean    535.078947   526.150000   588.809524   597.250000
            std    1036.433239  1040.474782  1150.355857  1183.371791
            min      13.000000     0.000000     0.000000     0.000000
            25%     114.250000    98.500000   104.500000    87.750000
            50%     229.500000   189.000000   203.500000   191.000000
            75%     420.500000   413.000000   371.750000   405.750000
            max    5388.000000  5278.000000  5093.000000  5335.000000

Year                      2016
Completions count    43.000000
            mean    609.860465
            std    1235.952796
            min       0.000000
            25%      90.000000
            50%     208.000000
            75%     414.000000
            max    5367.000000

In [11]:
df_one = pd.DataFrame({'k1':['A','A','B','B','C','C'],
                      'col1':[100,200,300,300,400,500],
                      'col2':['NY','CA','WA','WA','AK','NV']})
df_one

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
3  B   300   WA
4  C   400   AK
5  C   500   NV

In [13]:
df_one['k1'].unique() #Vraca sve unikatne vrednosti

array(['A', 'B', 'C'], dtype=object)

In [14]:
df_one['k1'].nunique()  #Vraca broj tj. zbir unikatnih vrednosti

3

In [15]:
df_one['col2'].value_counts() #Vraca za svaku koliko se puta pojavljuje

col2
WA    2
NY    1
CA    1
AK    1
NV    1
Name: count, dtype: int64

In [16]:
df_one.drop_duplicates() #Izbacuje samo identicne redove #ovo moze biti jako korisno za projekat

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
4  C   400   AK
5  C   500   NV

In [18]:
df_one['NEW'] = df_one['col1'] * 10
df_one #Ovo se radi na originalu

  k1  col1 col2   NEW
0  A   100   NY  1000
1  A   200   CA  2000
2  B   300   WA  3000
3  B   300   WA  3000
4  C   400   AK  4000
5  C   500   NV  5000

In [19]:
def grab_first_letter(state):
    return state[0]
grab_first_letter('NY')

'N'

In [21]:
df_one['col2'].apply(grab_first_letter)

0    N
1    C
2    W
3    W
4    A
5    N
Name: col2, dtype: object

In [24]:
df_one['first letter_col2'] = df_one['col2'].apply(grab_first_letter)

In [25]:
df_one

  k1  col1 col2   NEW first letter first letter_col2
0  A   100   NY  1000            N                 N
1  A   200   CA  2000            C                 C
2  B   300   WA  3000            W                 W
3  B   300   WA  3000            W                 W
4  C   400   AK  4000            A                 A
5  C   500   NV  5000            N                 N

In [26]:
def complex_letter(state):
    
    if state[0] == 'W':
        return "Washington"
    else:
        return "Error"

In [27]:
df_one['col2'].apply(complex_letter)

0         Error
1         Error
2    Washington
3    Washington
4         Error
5         Error
Name: col2, dtype: object

In [28]:
df_one['k1']

0    A
1    A
2    B
3    B
4    C
5    C
Name: k1, dtype: object

In [29]:
my_map = {'A':1, 'B':2, 'C':3}
df_one['num'] = df_one['k1'].map(my_map)
df_one

  k1  col1 col2   NEW first letter first letter_col2  num
0  A   100   NY  1000            N                 N    1
1  A   200   CA  2000            C                 C    1
2  B   300   WA  3000            W                 W    2
3  B   300   WA  3000            W                 W    2
4  C   400   AK  4000            A                 A    3
5  C   500   NV  5000            N                 N    3

In [30]:
features = pd.DataFrame({'A':[100,200,300,400,500],
                        'B':[12,13,14,15,16]})
predictions = pd.DataFrame({'pred':[0,1,1,0,1]})

In [31]:
features

     A   B
0  100  12
1  200  13
2  300  14
3  400  15
4  500  16

In [32]:
predictions

   pred
0     0
1     1
2     1
3     0
4     1

In [34]:
pd.concat([features,predictions], axis=1)  #Default je po redovima, moze se kreirati i novi dataframe

     A   B  pred
0  100  12     0
1  200  13     1
2  300  14     1
3  400  15     0
4  500  16     1

In [35]:
pd.get_dummies(df_one['k1'])

       A      B      C
0   True  False  False
1   True  False  False
2  False   True  False
3  False   True  False
4  False  False   True
5  False  False   True

In [13]:
niz = [[1,2,3], [3,4,5], [6,7,8]]
niz1 = np.array(niz)

In [17]:
df = pd.DataFrame(niz1)
df.to_csv('test.csv', index=False) #upisivanje u CSV fajl, tj. cuvanjef

In [19]:
tables = pd.read_html('https://fdic.gov/bank-failures/failed-bank-list')

In [20]:
type(tables)

list

In [21]:
tables[0]

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537